<h1>Courses</h1>
<hr>
<div class="row mt-4">
    <div class="col-md-4 col-12" *ngFor="let course of courses">
        <div class="card shadow-sm mb-4">
            <div class="card-body">
                <h5 class="card-title">{{ course.title }}</h5>
                <p class="card-text">{{ trimDescription(course.description) }}</p>
                <p class="card-text">Rating - <b [title]="[course.rating]">{{ course.rating }}</b></p>
                <p class="card-text">Added on - <b>{{ course.addedOn | date}}</b></p>
                <a class="btn btn-primary" *ngIf="hasAdminRole" [routerLink]="['/course', course.id]">View</a>
                <a class="btn btn-warning ml-2" *ngIf="hasAdminRole" [routerLink]="['/course', course.id]">Update</a>
                <a class="btn btn-danger text-white ml-2" *ngIf="hasAdminRole" (click)="onDelete(course.id)">Delete</a>
            </div>
        </div>
    </div>
</div>